[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
ptpython = "*"
channels = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
